body {
	background: black;	
	overflow: hidden;
}

img {
	top:3vh;
	left:2vw;
	position: absolute;
    width: 30vw;
}

hr {
	margin-top: 3vh;
}

@font-face {
	font-family: MISTRAL;
	src: url(../fonts/MISTRAL.TTF);
}

@font-face {
	font-family: calibri;
	src: url(../fonts/calibri.ttf);
}

@font-face {
	font-family: calibrib;
	src: url(../fonts/calibrib.ttf);
}

@-webkit-keyframes mymove 
{
	0% {
		opacity:1#0; 
	}
	
	50% {
		opacity:0; 
	}
	
	100% {
		opacity:1#0; 
	}	
}

.blue #date, .blue #day, .blue #lesson, .blue #lesson-time, .blue #holiday{
	color: #2196f3;
}

.blue #time span {
	text-shadow:0 0 30px #00c6ff; 
	color: red;	
}

.green #date, .green #day, .green #lesson, .green #lesson-time, .green #holiday{
	color:#ff0;
}

.green #time span {
	color: #00ff00;
}

#date {
	position: relative;
	font-family: calibrib;
    letter-spacing: 3px;
	line-height: 10vh;
    width: 100%;
    text-align: center;
    font-size: 12vh;
}

#day {
	position: relative;
    width: 100%;
	font-family: calibri;
    letter-spacing: 3px;
	line-height: 5vh;
    top: 2vh;
    text-align: center;
    font-size: 13vh;
}

#lesson {
    width: 100%;
	font-family: calibrib;
    letter-spacing: 3px;
    text-align: center;
	line-height: 14vh;
	margin-top:50vh;
	font-size: 14vh;
}

#lesson-time {
    width: 100%;
	font-family: calibri;
    letter-spacing: 3px;
    text-align: center;
	line-height: 9vh;
	font-size: 12vh;
}
#holiday {
    width: 100%;
    text-align: center;
	font-size: 5vh;
}

#time {
    text-align: center;
	position:absolute;
	top:0;
	width:100vw;
}
#time span { 
	font-family: MISTRAL;
	font-weight: bold;
	font-size: 55vh;
	line-height: 95vh;
}
#time #point { 
	position:relative; 
	-moz-animation:mymove 1s ease infinite; 
	-webkit-animation:mymove 1s ease infinite; 
	padding-left:10px; 
	padding-right:10px; 
}

